// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.internal-container {
  padding: 20px 60px;
  min-height: calc(100vh - 15px);
}

.ant-switch-checked {
  background-color: $base-color;
}

.error-icon {
  font-size: 24px;
  display: block;
  margin: 5px;
}

.text-small {
  font-size: 12px;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
}
