.main-header {
    height: 70px;
    position: sticky;
    top: 0;

    width: 100%;
}

.main-header-container {
  height: 150px;
  background: linear-gradient(#9f87c2, #B398DB);
  padding: 40px 0 0 60px;
  top: -80px;

  display: flex;
  align-items: center;
  position: sticky;

  width: 100%;
  z-index: 1000;
}

.minimal-header {
  height: 15px;
  display: block;
  width: 100%;
  background: #B398DB;
}

.header-logo {
    width: 100px;
}

.search {
    width: 100%;
    margin-top: 15px;
}

.more {
    margin-top: 15px;
}
