.main-header {
    height: 150px;
    padding: 50px;
    background: linear-gradient(#9f87c2, #B398DB);
}

.header-logo {
    width: 100px;
}

.search {
    width: 100%;
    margin-top: 15px;
}

.more {
    margin-top: 15px;
}