@import '~antd/dist/antd.css';

@import './components/Header.css';
@import './components/UserList.css';

.internal-container {
  padding: 20px 60px;
  min-height: calc(100vh - 15px);
}

.ant-switch-checked {
  background-color: #B398DB;
}

.error-icon {
  font-size: 24px;
  display: block;
  margin: 5px;
}

.text-small {
  font-size: 12px;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
}
